<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Lab 3</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">
        {% if user %}
            Edit user: {{user['user_id']}} | {{user['first_name']}}
        {% else %}
            Add user
        {% endif %}
        </h1>
      <hr class="my-4">
    </div>
    <div class="container">
        {% if user %}
        <form class="user-form" method="POST" action="/updateuser/{{user['user_id']}}">
        {% else %}
        <form class="user-form" method="POST" action="/adduser">
        {% endif %}
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="first_name">First name</label>
                {% if user %}
                <input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" value={{user['first_name']}}>
                {% else %}
                <input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name">
                {% endif %}
                {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                        <p class="user-error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                {% if user %}
                <input type="text" class="form-control" id="age" placeholder="Age" name="age" value={{user['age']}}>
                {% else %}
                <input type="text" class="form-control" id="age" placeholder="Age" name="age">
                {% endif %}
                {% if form.age.errors %}
                    {% for error in form.age.errors %}
                        <p class="user-error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="user-form-submit">
                <a href="/" class="btn btn-primary">Back</a>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>